.profile__info {
    display: grid;
    gap: 4px 18px;
    grid-template-columns: 1fr 24px;
    align-items: center;
}

@media screen and (max-width: 390px) {
    .profile__info {
        grid-template-columns: 1fr 18px;
        gap: 4px 10px;
        margin-left: 46px;
    }
}
