.profile__card {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 600px) {
    .profile__card {
        flex-direction: column;
        text-align: center;
    }
}
