.footer {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 915px) {
    .footer {
        padding: 67px 19px 60px;
    }
}

@media screen and (max-width: 390px) {
    .footer {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}
