.element__delete {
    cursor: pointer;
    position: absolute;
    background-image: url(../../../images/Delete%20Button.svg);
    background-size: cover;
    background-color: transparent;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    border: none;
    padding: 0;
    transition: opacity .2s linear;
}

.element__delete:hover {
    opacity: .6;
}
