.profile__information {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 390px) {
    .profile__information {
        font-size: 14px;
        line-height: 17px;
    }
}
